body{
    background-color:#e6e6e6;
}

div{
    width:600px;
    margin: 0 auto;
    text-align:center;
}


div img{
    width:190px;
    margin-bottom:30px;
}

div h1{
    font-size:24px;
    font-family: Verdana;
    border: 5px solid #666666;
    color:#606062;
    padding:10px;
}

div h2{
    font-size:20px;
    font-family:Verdana;
    color:#7a797b;
    margin-top:35px;
    margin-bottom:35px;
}

div h3{
    font-size:18px;
    font-family: Verdana;
    font-weight: normal;
    color:#606062;
    padding-top: 10px;
    padding-bottom:10px;
    border-top:2px solid #606062;
    border-bottom:2px solid #606062;
   
}

div p{
    font-size:18px;
    font-family: Verdana;
    text-align: justify;
    font-size:20px;
    color:#616163;
    line-height:32px;
    margin-bottom:35px;
}

div span{
    font-weight:bold;
}

div a{
    font-size:16px;
    font-family: Verdana;
    font-weight: bold;
    background-color: #25D366;
    text-decoration: none;
    color:#ffffff;
    padding:10px 15px;
    border-radius:25px;
    margin-top:15px;
    
}